@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow');
.page {
  font-family: 'PT Sans Narrow', sans-serif;
}
.flex {
  display: flex;
  justify-content: space-around;
  margin: 0.5vh;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.grid {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1fr;
  grid-auto-rows: minmax(90px, auto);
  font-size: 3vh;
}
.grid-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background: #2ea879;

  text-align: center;
  font-family: 'PT Sans', sans-serif;
  border: 0.1px solid black;
  font-size: 2.3vh;
  font-weight: 300;
  color: #ffffff;
}

.grid > span {
  display: flex;
  justify-content: flex-start;
  text-align: justify;
  padding: 8px 4px;
  border-left: 0.1px solid black;
  border-bottom: 0.1px solid black;
}
.grid:nth-child(even) {
  background: #ececec;
}
.search {
  width: 30vw;
}

.form-inline {
  display: flex;
  align-items: flex-end !important;
}
.form-control {
  width: 12vw !important;
}
.tagbox {
  display: flex;
  flex-direction: column;
}
.tag-container {
  max-width: 500px;
}

.tag-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.dashfolio-tag {
  cursor: pointer;
  background-color: blue;
  padding: 5px 10px 5px 10px;
  margin-top: -8px;
  margin-bottom: 9px; /*incase tags go in next line, will space */
  color: #fff;
  margin-right: 1px;
  background: #2ea879;
  padding-right: 2px; /* adds space inside the tags for the 'x' button */
  float: left;
}

.dashfolio-tag:hover {
  opacity: 0.7;
}
.deltag {
  font-size: 11px;
  background: #2ea879;
  border: none;
}
